/* CONTAINER  STYLE */

#container1 {
    width: 800px;
    height: auto;
    position: relative;
    left: 30%;
    padding-top: 10px;
}

#container1 input {
    width: 500px;
    height: 40px;
}

#container1 button {
    height: 40px;
    text-align: center;
    cursor: pointer;
}

body {
    background-color: #152238;
    color: white;
}

li {
    background-color: white;
    list-style: none;
    width: 500px;
}

.container {
    position: relative;
    left: 30%;
}

#search-results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

img {
    width: 100px;
    height: 100px;
}

#add-to-fav {
    width: 100px;
    height: 50px;
    background-color: red;
    text-align: center;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

#add-to-fav a {
    text-decoration: none;
    cursor: pointer;
}

#add-to-fav:hover {
    background-color: white;
    color: red;
}

#add-to-fav a:hover {
    color: red;
}

#name {
    color: rgb(153, 135, 235);
    font-size: 15px;
}

#name a {
    text-decoration: none;
    background-color: rgb(218, 51, 121);
    color: whitesmoke;
}

#name a :hover {
    text-decoration: underline;
    background-color: black;
    color: whitesmoke;
}

#favourites {
    float: right;
    font-size: 20px;
    width: 100px;
    height: 50px;
    background-color: rgb(135, 211, 35);
    border: 2px solid grey;
    display: flex;
}

#favourites a {
    text-align: center;
    margin: auto;
    color: whitesmoke;
    text-decoration: none;
}

#favourites:hover {
    background-color: tomato;
}

#favourites a:hover {
    color: #152238;
}